<%= stylesheet_link_tag 'registration', media: 'all' %>

<div class="signup-container">
  <div class="signup-box">
    <h2><ruby>新しく登録するお友達<rt>あたら　　とうろく　　　ともだち</rt></ruby></h2>
    
    <div class="signup-error-messages">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :nickname, "<ruby>ニックネーム<rt>にっくねーむ</rt></ruby>".html_safe %><br />
        <%= f.text_field :nickname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email, "<ruby>メールアドレス<rt>めーるあどれす</rt></ruby>".html_safe %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "<ruby>パスワード<rt>ぱすわーど</rt></ruby>".html_safe %><br />
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> <ruby>文字以上入力してね<rt>もじいじょうにゅうりょくしてね</rt></ruby>)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "<ruby>同じパスワードを入力してね<rt>おなじぱすわーどをにゅうりょくしてね</rt></ruby>".html_safe %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
         <button type="submit"><ruby>新規登録<rt>しんきとうろく</rt></ruby></button>
      </div>
    <% end %>

    <div class="registration-to-sessions">
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
