<header>
  <nav>
    <ul class="nav-list">
      <li class="banner-img">
        <a href="<%= root_path %>">
          <img src="<%= asset_path('banner.png') %>" alt="ホームへのリンク" class="header-banner">
        </a>
      </li>
      <% if user_signed_in? %>
        <li class="user-info">
          こんにちは、<%= current_user.nickname %>さん
        </li>
        <li class="logout-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout-button' %>
        </li>
      <% else %>
        <li class="login-item">
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
