<!DOCTYPE html>
<html>
<head>
    <title>すきなもの、まぜたらどーなる？</title>
</head>
<body>
  <%= render "shared/header" %>  
  <main>
    <h1>すきなもの、まぜたらどーなる？</h1>

 <%= form_with model: @joke, local: true, url: jokes_path do |form| %>
      <div class="field">
        <%= form.label :category_id, "分野" %>
        <%= form.collection_select :category_id, Category.all, :id, :name %>
      </div>

      <div class="field">
        <%= form.label :input_text1, "言葉1" %>
        <%= form.text_field :input_text1 %>
      </div>

      <div class="field">
        <%= form.label :input_text2, "言葉2" %>
        <%= form.text_field :input_text2 %>
      </div>

      <div class="actions">
        <%= form.submit "生成" %>
      </div>
    <% end %>

    <% if @jokes.any? %>
      <ul>
        <% @jokes.each do |joke| %>
          <li>
            <p><%= joke.generated_joke %></p>
            <% if joke.generated_image_url.present? %>
              <%= image_tag joke.generated_image_url, alt: "Generated Image" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </main>
</body>
</html>