<!DOCTYPE html>
<html>
<head>
    <title>すきなもの、まぜて・・・？なつやすみのじゆうけんきゅうアイデアマシーン</title>
    <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <header>
    <%= render "shared/header" %>
  </header>
  <main class="main-container">
    <div class="form-container">
      <div class="form-container">
        <%= render "shared/form" %>
      </div>
    </div>

    <div class="content-container">
      <div class="jokes-list-container">
        <h2>みんなのじゆうけんきゅうのアイデア</h2>
        <% if @ai_jokes.present? %>
          <ul class="jokes-list">
            <% @ai_jokes.each do |ai_joke| %>
              <div class="joke-info">
                <li class="joke-item">
                  <div class="badge-container">
                    <% if ai_joke.created_at > 5.days.ago %>
                      <%= image_tag 'new_badge.png', class: 'new-badge' %>
                    <% end %>
                    <p><%= ai_joke.generated_joke %></p>
                    <p><strong>つくったとき:</strong> <%= ai_joke.joke.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                    <p><strong>つくったひと:</strong> <%= link_to "#{ai_joke.joke.user.nickname}さん", user_jokes_path(ai_joke.joke.user), class: 'user-link' %></p>
                    <p><strong>まぜたもの:</strong> <%= ai_joke.joke.input_text1 %>, <%= ai_joke.joke.input_text2 %></p>
                    <p><strong>まぜたじかんわり:</strong> <%= ai_joke.joke.category.name %></p>
                    <% if ai_joke.user == current_user %>
                      <%= link_to 'けす', joke_path(ai_joke.joke), method: :delete, data: { confirm: 'ほんとうにけしてもいい？' }, class: 'delete-button' %>
                    <% end %>
                  </div>
                </li>
              </div>
            <% end %>
          </ul>
        <% else %>
          <p>じゆうけんきゅうのアイデアがありません。</p>
        <% end %>
      </div>
    </div>
  </main>
</body>
</html>
