<!DOCTYPE html>
<html>
<head>
    <title>すきなもの、まぜて・・・？なつやすみのじゆうけんきゅうアイデアマシーン</title>
    <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <%= render "shared/header" %>  
  <main class="main-container">
    <div class="form-container">
      <h2 class="center-text">きみだけのじゆうけんきゅうのアイデアをつくろう</h2>
      <%= form_with model: @joke, local: true, url: jokes_path do |form| %>
        <div class="field">
          <%= form.label :category_id, "きみのすきなじかんわりをおしえてね" %>
          <%= form.collection_select :category_id, Category.all, :id, :name %>
        </div>

        <div class="field">
          <%= form.label :input_text1, "すきなものをおしえてね" %>
          <%= form.text_field :input_text1 %>
        </div>

        <div class="field">
          <%= form.label :input_text2, "もうひとつすきなものをおしえてね" %>
          <%= form.text_field :input_text2 %>
        </div>

        <div class="actions">
          <%= form.submit "じゆうけんきゅうのアイデアをつくる" %>
        </div>
      <% end %>
    </div>

    <div class="content-container">
      <div class="jokes-list-container">
      <h2>つくったじゆうけんきゅうのアイデア</h2>
      <% if @ai_jokes.present? %>
        <ul class="jokes-list">
          <% @ai_jokes.each do |ai_joke| %>
          <div class="joke-info">
            <li class="joke-item">
              <p><%= ai_joke.generated_joke %></p>
              <p><strong>つくったとき:</strong> <%= ai_joke.joke.created_at.strftime("%Y-%m-%d %H:%M") %></p>
              <p><strong>つくったひと:</strong> <%= link_to "#{ai_joke.joke.user.nickname}さん", user_jokes_path(ai_joke.joke.user), class: 'user-link' %></p>
              <p><strong>まぜたもの:</strong> <%= ai_joke.joke.input_text1 %>, <%= ai_joke.joke.input_text2 %></p>
              <p><strong>まぜたじかんわり:</strong> <%= ai_joke.joke.category.name %></p>
              </li>

             <% if ai_joke.user == current_user %>
                  <%= link_to 'けす', joke_path(ai_joke.joke), method: :delete, data: { confirm: 'ほんとうにけしてもいい？' }, class: 'delete-button' %>
            <% end %>
          </div>
            <% end %>
          </ul>
        <% else %>
          <p>じゆうけんきゅうのアイデアがありません。</p>
        <% end %>
      </div>
    </div>
  </main>
</body>
</html>