<!DOCTYPE html>
<html>
<head>
    <title>すきなもの、まぜて・・・？なつやすみのじゆうけんきゅうアイデアマシーン</title>
    <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <%= render "shared/header" %>  
  <main class="main-container">
    <div class="form-container">
      <h2 class="center-text">じゆうけんきゅうのアイデアをつくる</h2>
      <%= form_with model: @joke, local: true, url: jokes_path do |form| %>
        <div class="field">
          <%= form.label :category_id, "きみのすきなじかんわりをおしえてね" %>
          <%= form.collection_select :category_id, Category.all, :id, :name %>
        </div>

        <div class="field">
          <%= form.label :input_text1, "すきなものをおしえてね" %>
          <%= form.text_field :input_text1 %>
        </div>

        <div class="field">
          <%= form.label :input_text2, "もうひとつすきなものをおしえてね" %>
          <%= form.text_field :input_text2 %>
        </div>

        <div class="actions">
          <%= form.submit "じゆうけんきゅうのアイデアをつくる" %>
        </div>
      <% end %>
    </div>

    <div class="jokes-container">
      <h2>つくったじゆうけんきゅうのアイデア</h2>
      <% if @ai_jokes.present? %>
        <ul class="jokes-list">
          <% @ai_jokes.each do |ai_joke| %>
            <li class="joke-item">
              <p><%= ai_joke.generated_joke %></p>
              <%= link_to 'くわしくみる', joke_path(ai_joke.joke), class: 'joke-link' %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </main>
</body>
</html>
