<!DOCTYPE html>
<html>
<head>
    <title>すきなもの、まぜて・・・？なつやすみのじゆうけんきゅうアイデアマシーン</title>
    <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <%= render "shared/header" %>  
  <main>
    <h1>
      すきなもの、まぜて・・・？
      <br>
      <img src="<%= asset_path('suika.png') %>" class="suika-icon" alt="スイカ">
      <span class="natsuyasumi-text">なつやすみ</span>
      <img src="<%= asset_path('suika.png') %>" class="suika-icon" alt="スイカ">
      <span class="natsuyasumi-text">の</span>
      <span class="rainbow-text">じゆうけんきゅう</span>
      <span class="natsuyasumi-text">アイデアマシーン</span>      
    </h1>

 <%= form_with model: @joke, local: true, url: jokes_path do |form| %>
      <div class="field">
        <%= form.label :category_id, "分野" %>
        <%= form.collection_select :category_id, Category.all, :id, :name %>
      </div>

      <div class="field">
        <%= form.label :input_text1, "言葉1" %>
        <%= form.text_field :input_text1 %>
      </div>

      <div class="field">
        <%= form.label :input_text2, "言葉2" %>
        <%= form.text_field :input_text2 %>
      </div>

      <div class="actions">
        <%= form.submit "生成" %>
      </div>
    <% end %>

    <% if @ai_jokes.present? %>
      <ul>
        <% @ai_jokes.each do |ai_joke| %>
          <li>
            <p><%= link_to ai_joke.generated_joke, joke_path(ai_joke.joke) %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </main>
</body>
</html>