<div class="login-container">
  <div class="login-box">
    <h2><ruby>ログイン<rt>ろぐいん</rt></ruby></h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email, "<ruby>メールアドレス<rt>めーるあどれす</rt></ruby>".html_safe, class: 'label-email' %><br />
        <%= f.email_field :email, autofocus: true, class: 'input-email' %>
      </div>

      <div class="field">
        <%= f.label :password, "<ruby>パスワード<rt>ぱすわーど</rt></ruby>".html_safe %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field remember-me-field">
          <%= f.label :remember_me, "<ruby>ログイン状態を保存する<rt>ろぐいんじょうたいをほぞんする</rt></ruby>".html_safe %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <button type="submit"><ruby>ログイン<rt>ろぐいん</rt></ruby></button>
      </div>
    <% end %>
  </div>
</div>
