<!DOCTYPE html>
<html>
<head>
    <title>つくったじゆうけんきゅうのアイデア詳細</title>
    <%= stylesheet_link_tag 'jokes_index', media: 'all' %>
</head>
<body>
  <header>
    <%= render "shared/header" %>
  </header>
    <main class="main-container">
      <div class="form-container">
      <%= render "shared/form" %>
    </div>
        <div class="content">
          <%= render "shared/joke_detail" %> 
            <div class="home-button-container">
                <%= link_to 'みんなのアイデアをみる', root_path, class: 'home-button' %>
            </div>
        </div>
    </main>
</body>
</html>
