<!DOCTYPE html>
<html>
<head>
    <title>つくったじゆうけんきゅうのアイデア詳細</title>
    <%= stylesheet_link_tag 'shared/jokes', media: 'all' %>
</head>
<body>
  <header>
    <%= render "shared/header" %>
  </header>
    <main class="main-container">
      <div class="form-container">
      <%= render "shared/form" %>
    </div>

    <div class="content-container">
      <div class="user-jokes-list-container">
      <h2><%= @user.nickname %>さんがつくったじゆうけんきゅうのアイデア</h2>
        <div class="home-button-container">
          <%= link_to 'みんなのアイデアをみる', root_path, class: 'home-button' %>
        </div>
    </div>

    <div class="joke-list">
      <% if @ai_jokes.present? %>
      <% @ai_jokes.each do |ai_joke| %>
      <%= render "shared/joke_detail", ai_joke: ai_joke %>
    <% end %> 
      <% else %>
        <p>まだつくったアイデアがありません。つくってみよう。</p>
      <% end %>
      
    </div>
    </main>
</body>
</html>
