<!DOCTYPE html>
<html>
<head>
    <title>つくったじゆうけんきゅうのアイデア詳細</title>
    <%= stylesheet_link_tag 'jokes_show', media: 'all' %>
</head>
<body>
  <%= render "shared/header" %>
  <main class="main-container">
    <div class="sidebar">
      <h2>つくったものいちらん</h2>
      <% if @user_jokes.present? %>
      <ul>
        <% @user_jokes.each do |joke| %>
          <li><%= link_to joke.generated_joke, joke_path(joke) %></li>
        <% end %>
      </ul>
      <% else %>
        <p>まだつくったアイデアがありません。</p>
      <% end %>
    </div>
    <div class="content">
<div class="joke-detail-container">
  <div class="joke-frame">
    <h1>つくったじゆうけんきゅうのアイデア</h1>
    <p><%= @ai_joke.generated_joke %></p>
  </div>

  <div class="joke-actions">
<%= link_to 'けす', joke_path(@joke), data: { turbo_method: :delete, confirm: 'ほんとうにけしてもいい？' }, class: 'delete-button' %>
  </div>

  <div class="joke-info">
    <p><strong>つくったとき:</strong> <%= @joke.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    <p><strong>つくったひと:</strong> <%= link_to "#{@joke.user.nickname}さん", user_jokes_path(@joke.user), class: 'user-link' %></p>
    <p><strong>まぜたもの:</strong> <%= @joke.input_text1 %>, <%= @joke.input_text2 %></p>
    <p><strong>まぜたじかんわり:</strong> <%= @joke.category.name %></p>
  </div>

  <div class="home-button">
    <%= link_to 'ホームにもどってまたつくる', root_path, class: 'home-button' %>
  </div>
</div>
